In [2]:
#lessons I learned:
#https://stackoverflow.com/questions/20186344/ipynb-import-another-ipynb-file
#https://stackoverflow.com/questions/17098654/how-to-store-a-dataframe-using-pandas
#https://stackoverflow.com/questions/30482071/how-to-calculate-mean-values-grouped-on-another-column-in-pandas

In [3]:
import pandas as pd
import csv
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.options.mode.chained_assignment = None  # default='warn'
from functools import reduce

In [4]:
#load in our dataframe with movies from 1990s to 2019 using pickle
results = pd.read_pickle('results.pkl')

In [5]:
results.head()

,primaryTitle,startYear,genres,averageRating,numVotes,runtimeMinutes,titleType,region,titleId
12797,Kate & Leopold,2001,"Comedy,Fantasy,Romance",6.4,74330,118,movie,US,tt0035423
26357,"Wenn du groß bist, lieber Adam",1990,"Drama,Fantasy",6.9,23,78,movie,US,tt0059900
30878,The Other Side of the Wind,2018,Drama,6.9,4589,122,movie,US,tt0069049
36244,Me and the Kid,1993,"Comedy,Crime,Drama",5.3,211,94,movie,US,tt0081145
36467,Vincent and Me,1990,"Drama,Family,Fantasy",6.5,278,100,movie,US,tt0081721

In [18]:
# I want the average rating of comedy movies every year over the last 3 decades
results.groupby('startYear', as_index=False)['averageRating'].mean() #as_index=True to output Series

    startYear  averageRating
0        1990       5.862736
1        1991       5.886232
2        1992       6.004348
3        1993       6.003403
4        1994       5.828488
5        1995       5.711276
6        1996       6.091923
7        1997       6.027622
8        1998       5.950093
9        1999       5.959375
10       2000       6.012261
11       2001       6.054498
12       2002       6.166867
13       2003       6.243546
14       2004       6.312236
15       2005       6.322405
16       2006       6.240677
17       2007       6.270122
18       2008       6.243264
19       2009       6.227773
20       2010       6.279976
21       2011       6.284466
22       2012       6.261819
23       2013       6.223761
24       2014       6.274161
25       2015       6.200939
26       2016       6.211877
27       2017       6.131386
28       2018       6.007285
29       2019       6.339671